
h1{
    color: black;
    font-size: 50px;

        font-family: "Unbounded", system-ui;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
}
body{
    background-color: red;
}

#amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
#pop{
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;

}
#er{
    color: gray;

}
li{
    font-size: 20px;
    font-weight: 600;
    padding: 8px;
}
